# <b>A. <span style='color:#0B2F9F'><code>PREFIX</code></span></b>
Prefix merupakan penggunaan awalan pada nama tabel untuk memberikan informasi tambahan atau untuk mengelompokkan objek-objek tertentu. Sebagai contoh perhatikan gambar berikut : <br><br>

<img src="https://raw.githubusercontent.com/bachtiyarma/Material/refs/heads/main/Image/Materi-SQL/SQL%20-%20Prefix.png" width="50%">

<br><br>
Nama tabel dimisalkan (diberi alias) sebagai tbl, lalu untuk mengakses kolom pada tabel tersebut bisa diberi prefix tbl.kolom1 dan seterusnya

#### <i><b><span style='color:#55679C'>Quest</span> : Pada tabel customer_demography, ambil kolom customer_id, gender, age dan married namun gunakan alias 'cdm' pada nama tabel dan sematkan prefixnya saat mengakses kolom!</b></i>

In [ ]:
SELECT
  cdm.customer_id,
  cdm.gender,
  cdm.age,
  cdm.married
FROM telco_churn.customer_demography AS cdm

# <b>B. <span style='color:#0B2F9F'><code>JOIN</code></span></b>

Data biasanya disimpan di berbagai tabel atau sistem yang berbeda pada RDBMS (Relational Database Management System). JOIN memungkinkan pengguna untuk menggabungkan data dari berbagai sumber untuk mendapatkan gambaran yang lebih lengkap. Memahami query JOIN memungkinkan seorang pengguna untuk mengintegrasikan dan menganalisis data secara efektif, sehingga dapat meningkatkan kualitas analisis dan mendukung pengambilan keputusan berbasis data.

Operasi JOIN standar dapat dilakukan jika terdapat kunci pada tiap tabel yang saling terhubung. Operasi join dasar yang paling umum digunakan ada 4 yakni :
<ul>
    <li><b>LEFT JOIN</b></li>
    LEFT JOIN adalah jenis operasi penggabungan baris dari dua tabel, tetapi hanya mengembalikan semua baris dari tabel kiri (tabel pertama) dan baris yang cocok dari tabel kanan (tabel kedua). Jika tidak ada kecocokan di tabel kanan, maka nilai-nilai untuk kolom dari tabel kanan akan diisi dengan NULL.<br><br>
    <img src="https://thomasadventure.blog/img/left-join-extra.gif" width="20%">
    <br><br>
    <li><b>RIGHT JOIN</b></li>
    RIGHT JOIN adalah jenis operasi penggabungan baris dari dua tabel, tetapi hanya mengembalikan semua baris dari tabel kanan (tabel kedua) dan baris yang cocok dari tabel kiri (tabel pertama). Jika tidak ada kecocokan di tabel kiri, maka nilai-nilai untuk kolom dari tabel kiri akan diisi dengan NULL.<br><br>
    <img src="https://thomasadventure.blog/img/right-join.gif" width="20%">
    <br><br>
    <li><b>INNER JOIN</b></li>
    INNER JOIN adalah jenis operasi penggabungan yang hanya mengembalikan baris yang memiliki kecocokan di kedua tabel berdasarkan kriteria tertentu.<br><br>
    <img src="https://thomasadventure.blog/img/inner-join.gif" width="20%">
    <br><br>
     <li><b>FULL JOIN</b></li>
    FULL JOIN adalah jenis operasi penggabungan semua baris dari kedua tabel, baik yang memiliki kecocokan maupun yang tidak. Dengan demikian, hasilnya akan mencakup semua data dari tabel kiri dan tabel kanan.<br><br>
    <img src="https://thomasadventure.blog/img/full-join.gif" width="20%">
    <br><br>
</ul>

#### <i><b><span style='color:#55679C'>Pre-Quest</span>
Untuk melakukan join biasanya akan lebih mudah jika arsitektur relasi antar tabel atau biasa dikenal ERD (Entity Relational Diagram) telah dibuat atau diketahui. Pada data telco churn ERD-nya disajikan pada gambar berikut<br><br>

<img src="https://raw.githubusercontent.com/bachtiyarma/Material/refs/heads/main/Image/Materi-SQL/ERD%20-%20Telco%20Churn.png" width="40%">

#### <i><b><span style='color:#55679C'>Quest : </span>Hitung berapa rata-rata biaya bulanan tiap status customer! Tampilkan status, total_customer, avg_monthly_charge! Interpretasikan insight dari hasil perhitungan!

In [ ]:
Status ada di Cust Status. Monthly charge di telco_services

SELECT
  sts.status,
  COUNT (sts.customer_id) AS total_customer,
  AVG (srv.monthly_charge) AS avg_monthly_charge
FROM telco_churn.customer_status AS sts
INNER JOIN telco_churn.telco_services AS srv ON sts.customer_id = srv.customer_id
GROUP BY sts.status

<b><span style='color:#FFDB00'><i>Interpretasi Hasil : </i></span></b><br>
people who churned spent the highest while people who stay on don't spend as much. So maybe we can bring down prices for the most premium combo, while adding charges for those who stay? More complex analysis could also include the relationship with services type (phone vs internet?) , length of membership and so on.

#### <i><b><span style='color:#55679C'>Quest : </span>Coba Sudut Pandang Lebih Luas; Hitung berapa banyak customer, rata-rata biaya bulanan & rata-rata umur tiap status customer, gender dan status pernikahannya! Tampilkan status, gender, married, total_customer, avg_monthly_charge! Urutkan hasilnya per metrik perhitungan dan Interpretasikan insight dari hasil perhitungan!

Di coding ini ditambahkan avg.age ya. Walau di preview hasil gak ada.

In [ ]:
SELECT
  sts.status,
  cdm.gender,
  cdm.married,
  COUNT (sts.customer_id) AS total_customer,
  AVG (cdm.age) AS avg_age,
  AVG (srv.monthly_charge) AS avg_monthly_charge,
FROM telco_churn.customer_status AS sts
JOIN telco_churn.telco_services AS srv
  ON sts.customer_id = srv.customer_id
JOIN telco_churn.customer_demography AS cdm
  ON sts.customer_id = cdm.customer_id
GROUP BY sts.status , cdm.gender, cdm.married

Bisa juga ditambahkan rounding supaya hasil nya lebih enak dilihat sbb

In [ ]:
SELECT
  sts.status,
  cdm.gender,
  cdm.married,
  COUNT (sts.customer_id) AS total_customer,
  ROUND(AVG (cdm.age),2) AS avg_age,
  ROUND(AVG (srv.monthly_charge),2) AS avg_monthly_charge,
FROM telco_churn.customer_status AS sts
JOIN telco_churn.telco_services AS srv
  ON sts.customer_id = srv.customer_id
JOIN telco_churn.customer_demography AS cdm
  ON sts.customer_id = cdm.customer_id
GROUP BY sts.status , cdm.gender, cdm.married

<b><span style='color:#FFDB00'><i>Interpretasi Hasil : </i></span></b><br>
Ternyata yang churned ini kok terlihat nya yg usia nya cukup dewasa/di atas senja. Dan avg monthly_charge nya diingat cukup tinggi. Jika begitu apa bisa kita mgkn tawarkan combo dengan harga yg sama, tapi free video call misalnya.

#### <i><b><span style='color:#55679C'>Quest : </span>Bagaimana dengan total tenure ? Hitung berapa rata-rata tenure_in_month tiap status customer! Tampilkan status, total_customer, avg_tenure_in_month! Interpretasikan insight dari hasil perhitungan!

In [ ]:
SELECT
  sts.status,
  COUNT (sts.customer_id) AS total_customer,
  ROUND(AVG (srv.tenure_in_months),2) AS avg_tenure_in_months
FROM telco_churn.customer_status as sts
JOIN telco_churn.telco_services AS srv
  ON sts.customer_id = srv.customer_id
GROUP BY sts.status

<b><span style='color:#FFDB00'><i>Interpretasi Hasil : </i></span></b><br> What if at about 13-14mo, we give them some sort of anniversary promo? That could maybe retain cust?

#### <i><b><span style='color:#55679C'>Quest : </span>Perusahaan telekomunikasi ingin melakukan perluasan market ke beberapa daerah yang mana di daerah tersebut belum ada pelanggan terdaftar dalam database. Buatkan daftar kode pos pada tabel population yang sama sekali belum ada orang yang menggunakan layanan telekomunikasi! Tampilkan kode pos dan jumlah populasinya!

In [ ]:
SELECT
  pop.zip_code,
  pop.population,
   COUNT(loc.customer_id) AS total_customer
FROM telco_churn.customer_location as loc
RIGHT JOIN telco_churn.population AS pop
  ON loc.zip_code = pop.zip_code
GROUP BY zip_code, pop.population
HAVING COUNT(loc.customer_id) = 0
ORDER BY pop.population DESC

<b><span style='color:#FFDB00'><i>Interpretasi Hasil : </i></span></b><br>
...

#### <i><b><span style='color:#55679C'>Quest 1 : </span> (From DQSquad)

#### <i><b><span style='color:#55679C'>Quest 2 : </span> (From DQSquad)

#### <i><b><span style='color:#55679C'>Quest 3 : </span> (From DQSquad)